<%- include('components/header') %>
  <%- include('components/nav') %>


    <main>

      <div class="container">
        <a class="close" href="/">❌</a>
        <section class="status">
          <article class="status-item">
            <header>
              <h2>
                <% if (lang==='nl' ) { %>
                  Verdiend
                  <% } else if (lang==='en' ) { %>
                    Earned
                    <% } %>
              </h2>
            </header>
            <div class="status-info">
              <figure>
                <img src="../assets/images/coin.png" alt="Coin">
              </figure>
              <span class="verdiend">
                <%= earned_coins %>
              </span>
            </div>
          </article>

          <article class="status-item">
            <header>
              <h2>
                <% if (lang==='nl' ) { %>
                  Uitgegeven
                  <% } else if (lang==='en' ) { %>
                    Spent
                    <% } %>
              </h2>
            </header>
            <div class="status-info">
              <figure>
                <img src="../assets/images/coin.png" alt="Coin">
              </figure>
              <span class="uitgegeven">
                <%= spent_coins %>
              </span>
            </div>
          </article>

          <div class="status-divider"></div>

          <article class="status-item">
            <header>
              <h2>
                <% if (lang==='nl' ) { %>
                  Huidig
                  <% } else if (lang==='en' ) { %>
                    Current
                    <% } %>
              </h2>
            </header>
            <div class="status-info">
              <figure>
                <img src="../assets/images/coin.png" alt="Coin">
              </figure>
              <span class="huidig-bedrag">
                <%= coins %>
              </span>
            </div>
          </article>
        </section>


        <div class="name">
          <h2>
              <% if (lang==='nl' ) { %>
                Welkom, <%= username %>!
                <% } else if (lang==='en' ) { %>
                  Welcome, <%= username %>!
                  <% } %>
          </h2>
          <button class="open-popup" onclick="openPopup()"><img src="../assets/images/achief-icon.png" alt=""></button>
        </div>

        <section class="carousel">
          <button class="arrow left" aria-label="Vorige figuur" onclick="prevFigure()">◀</button>

          <figure class="figure-container">
            <img id="lego-figure" src="" alt="Lego minifiguur">
          </figure>
          <p id="amount-figs">
            <span id="current-index">1</span>/<%= figs.length %>
              <span id="inventory"><a href="inventory">🎒</a></span>
          </p>
          <figcaption class="info-container">
            <h2 id="name"></h2>
            <p id="rarity" class="rarity"></p>
          </figcaption>
          <button class="arrow right" aria-label="Volgende figuur" onclick="nextFigure()">▶</button>
        </section>

        <script src="/js/profile.js"></script>
        <section id="prestaties-container" class="prestaties-container">
          <span id="prestatie-titel">
            <h1 class="titel">
              <% if (lang==='nl' ) { %>
                Prestaties
                <% } else if (lang==='en' ) { %>
                  Achievements
                  <% } %>
            </h1>
          </span>

          <!-- <article class="prestatie">
          <figure>
            <img src="../assets/images/memory.png" alt="Memory game">
          </figure>
          <section class="info">
            <h2>Geheugenspel</h2>
            <p>Speel 25 LEGO Memory spelletjes</p>
            <div class="progress-bar">
              <div class="progress" style="width: 100%;"></div>
            </div>
            <span>25/25</span>
          </section>
          <aside class="reward">
            <img src="../assets/images/coin.png" alt="Coins">
            <p>2000</p>
          </aside>
        </article>

        <article class="prestatie">
          <figure>
            <img src="../assets/images/coin.png" alt="Munten">
          </figure>
          <section class="info">
            <h2>Munten</h2>
            <p>Verdien 10.000 LEGO munten</p>
            <div class="progress-bar">
              <div class="progress" style="width: 56%;"></div>
            </div>
            <span>5600/10.000</span>
          </section>
          <aside class="reward  not">
            <img src="../assets/images/coin.png" alt="Coins">
            <p>1000</p>
          </aside>
        </article>

        <article class="prestatie">
          <figure>
            <img src="../assets/images/greenblock.png" alt="Klikspelletje">
          </figure>
          <section class="info">
            <h2>Klik spelletje</h2>
            <p>Verkrijg 5.000 blokjes</p>
            <div class="progress-bar">
              <div class="progress" style="width: 40%;"></div>
            </div>
            <span>2000/5000</span>
          </section>
          <aside class="reward  not">
            <p><img src="../assets/images/coin.png" alt="Coins">5000</p>
          </aside>
        </article>
      </section> -->

          <% Object.keys(achievements).forEach(key=> { %>
            <article class="prestatie">
              <figure>
                <img src="../assets/images/coin.png" alt="<%= achievements[key].title %>">
              </figure>
              <section class="info">
                <h2>
                  <%= achievements[key].title %>
                </h2>
                <p>
                  <%= achievements[key].description %>
                </p>
                <div class="progress-bar">
                  <!-- <div class="progress" style="width: <%= (achievements[key].current / achievements[key].goal) * 100 %>%;"></div> -->
                  <div class="progress" style="width: 40%;"></div>
                </div>
                <span>
                  <%= achievements[key].current %>/<%= achievements[key].goal %>
                </span>
              </section>
              <aside class="reward <%= achievements[key].finished ? '' : 'not' %>">
                <img src="../assets/images/coin.png" alt="Coins">
                <p>
                  <%= achievements[key].reward %>
                </p>
              </aside>
            </article>
            <% }) %>

              <div id="prestaties-popup" class="popup">
                <div class="popup-content">
                  <span class="close-popup" onclick="closePopup()">&times;</span>
                  <h2 class="popup-title"> <img src="../assets/images/achief-icon.png" alt="">
                    <% if (lang==='nl' ) { %>
                      Prestaties
                      <% } else if (lang==='en' ) { %>
                        Achievements
                        <% } %>
                  </h2>
                  <div class="prestaties-container">
                    <span id="prestatie-titel">
                      <h1 class="titel">
                        <% if (lang==='nl' ) { %>
                          Prestaties
                          <% } else if (lang==='en' ) { %>
                            Achievements
                            <% } %>
                      </h1>
                    </span>
                    <% Object.keys(achievements).forEach(key=> { %>
                      <article class="prestatie">
                        <figure>
                          <img src="../assets/images/coin.png" alt="<%= achievements[key].title %>">
                        </figure>
                        <section class="info">
                          <h2>
                            <%= achievements[key].title %>
                          </h2>
                          <p>
                            <%= achievements[key].description %>
                          </p>
                          <div class="progress-bar">
                            <!-- <div class="progress" style="width: <%= (achievements[key].current / achievements[key].goal) * 100 %>%;"></div> -->
                            <div class="progress" style="width: 40%;"></div>
                          </div>
                          <span>
                            <%= achievements[key].current %>/<%= achievements[key].goal %>
                          </span>
                        </section>
                        <aside class="reward <%= achievements[key].finished ? '' : 'not' %>">
                          <img src="../assets/images/coin.png" alt="Coins">
                          <p>
                            <%= achievements[key].reward %>
                          </p>
                        </aside>
                      </article>
                      <% }) %>
                  </div>
                </div>
              </div>

      </div>
    </main>


    <%- include('components/settings') %>
      </body>

      </html>